---
import BaseHead from '../../components/BaseHead.astro';
import Footer   from '../../components/Footer.astro';
import Header   from '../../components/Header.astro';
import { TELEGRAM_CHANNEL } from '../../consts';

import { getCollection, render } from 'astro:content';
const doc = Astro.props;
const docs = await getCollection('docs');
const { Content } = await render(doc);

export async function getStaticPaths() {
    const docs = await getCollection('docs');
    return docs.map((doc) => ({
        params: { slug: doc.id },
        props: doc,
    }));
}

function buildTree_many() {
    const root = {};
    for (const local_doc of docs) {
        // фильтруем только те страницы, которые относятся к текущему "курсу"
        if (local_doc.id.split('/')[0] !== doc.id.split('/')[0]) { continue; }
        const parts = local_doc.id.split('/');;
        let current = root;
        parts.forEach((part, i) => {
            if (!current[part]) {
                current[part] = { url: null, title: null, order: null, children: {} };
            }
            if (i === parts.length - 1) {
                current[part].url   = '/docs/' + local_doc.id + '/';
                current[part].title = local_doc.rendered.metadata.headings[0].text;
                current[part].order = local_doc.data.order;
                if (local_doc.id === doc.id) {
                    current[part].select = true;
                }
            }
            current = current[part].children;
        });
    }
    return root;
}

function buildTree_one() {
    const root = {};
    const stack = [{ depth: 0, node: root }];
    let count = 0;
    for (const item of doc.rendered.metadata.headings) {
        while (stack[stack.length - 1].depth >= item.depth) { stack.pop(); }
        const parent = stack[stack.length - 1].node;
        parent[item.slug] = {
            url: '#' + item.slug,
            title: item.text,
            order: count,
            children: {},
        };
        stack.push({
            depth: item.depth,
            node: parent[item.slug].children,
        });
        count += 1;
    }
    return root;
}

function treeToHtml(tree) {
    let html = "<ul>";
    const entries = Object.entries(tree);
    entries.sort((a, b) => {
        const orderA = a[1].order ?? Infinity;
        const orderB = b[1].order ?? Infinity;
        return orderA - orderB; // null в конец
    });
    for (const [key, value] of entries) {
        const cls = value.select ? 'bg-blue-300' : '';
        html += `<li><a class="${cls}" href="${value.url}">${value.title}`;
        const children = value.children;
        if (Object.keys(children).length > 0) {
            html += treeToHtml(children);
        }
        html += "</a></li>";
    }
    html += "</ul>";
    return html;
}

function btns_left_right() {
    const arr = [];
    for (const item of docs) {
        if (item.id.split('/')[0] === doc.id.split('/')[0]) {
            arr.push(item);
        }
    }
    const arr_sort = arr.sort((a, b) => a.data.order - b.data.order);
    const index = arr_sort.findIndex((index) => index.id === doc.id);
    const left_id  = index > 0                   ? arr_sort[index - 1].id : null;
    const right_id = index < arr_sort.length - 1 ? arr_sort[index + 1].id : null;
    const left  = left_id  ? `/docs/${left_id}/`  : null;
    const right = right_id ? `/docs/${right_id}/` : null;
    return { left, right };
}

const btn_left  = btns_left_right().left;
const btn_right = btns_left_right().right;
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={doc.data.title} description={doc.data.description} />
    </head>
	<body class="bg-gray-800 text-gray-100">
		<Header />
        <div class='mx-auto max-w-7xl lg:grid grid-cols-3 gap-5'>
            <div>
                <div id='up-page'></div>
                <nav class='bg-gray-300 p-5 lg:pl-0'>
                    <div class="prose max-w-none marker:text-gray-900">
                        <div set:html={ treeToHtml(buildTree_many()) }></div>
                    </div>
                </nav>
                <nav class='hidden lg:block bg-gray-300 p-5 pl-0 mt-5'>
                    <div class="prose max-w-none marker:text-gray-900">
                        <div set:html={ treeToHtml(buildTree_one())  }></div>
                    </div>
                </nav>
                <div class="hidden lg:grid gap-5 sticky top-5 mt-5">
                    <a class="bg-gray-300 p-5 text-gray-900 text-center font-bold" href="#up-page"> Home </a>
                    <a href={TELEGRAM_CHANNEL}><img loading="lazy" src="/res/all/telegram.webp" alt="telegram" /></a>
                </div>
            </div>
            <main class='bg-gray-300 p-5 col-span-2'>
                <div class="prose max-w-none marker:text-gray-900">
                    <Content />
                    <div class="flex justify-between">
                        {( btn_left  ) ? ( <a href={btn_left } class="no-underline font-bold bg-gray-800 text-gray-100 p-5">⬅️ Назад</a>  ) : ( <div></div> )}
                        {( btn_right ) ? ( <a href={btn_right} class="no-underline font-bold bg-gray-800 text-gray-100 p-5">Вперед ➡️</a> ) : ( <div></div> )}
                    </div>
                </div>
            </main>
        </div>
		<Footer />
	</body>
</html>
