extends blocks/layout
include blocks/_my_bread

block body
    div
        +_my_bread([])
        div(class='mx-auto max-w-3xl')
            div(class='bg-gray-300')
                if current.thumb
                    img(class='bg-gray-100' loading='lazy' width='800' height='400' src=current.thumb alt=current.title)
                div(class='p-5')
                    div(class='text-xs text-gray-500 font-bold')= current.publication_date
                    div(class='prose max-w-none marker:text-gray-900')!= current.content

                if current.github
                    div(class='p-5')
                        a(class='block p-5 bg-gray-800 text-gray-100 flex items-center' rel='nofollow' href=current.github)
                            img(class='size-10' src='/imgs/github.png')
                            div(class='ml-5 font-bold text-lg')= current.github

                //- Читайте также
                - const all_posts = all.filter(x => x.url.match('^/posts/')).sort((a, b) => new Date(b.publication_date || 0) - new Date(a.publication_date || 0))
                - const key_current = all_posts.findIndex(x => x.url === current.url)
                - if ((key_current !== -1) && (all_posts.length >= 5))
                    div(class='p-5')
                        - const prev_2 = key_current - 2 >= 0 ? key_current - 2 : all_posts.length + key_current - 2
                        - const prev_1 = key_current - 1 >= 0 ? key_current - 1 : all_posts.length + key_current - 1
                        - const next_1 = key_current + 1 < all_posts.length ? key_current + 1 : key_current - all_posts.length + 1
                        - const next_2 = key_current + 2 < all_posts.length ? key_current + 2 : key_current - all_posts.length + 2
                        h2(class='text-2xl text-center font-bold mb-8') Читайте также
                        div(class='grid grid-cols-2 gap-4 text-center')
                            div(class='')
                                a(href=all_posts[prev_2].canonical)
                                    img(class='bg-gray-100' loading='lazy' width='800' height='400' src=all_posts[prev_2].thumb alt=all_posts[prev_2].title)
                                    div= all_posts[prev_2].title
                            div(class='')
                                a(href=all_posts[prev_1].canonical)
                                    img(class='bg-gray-100' loading='lazy' width='800' height='400' src=all_posts[prev_1].thumb alt=all_posts[prev_1].title)
                                    div= all_posts[prev_1].title
                            div(class='')
                                a(href=all_posts[next_1].canonical)
                                    img(class='bg-gray-100' loading='lazy' width='800' height='400' src=all_posts[next_1].thumb alt=all_posts[next_1].title)
                                    div= all_posts[next_1].title
                            div(class='')
                                a(href=all_posts[next_2].canonical)
                                    img(class='bg-gray-100' loading='lazy' width='800' height='400' src=all_posts[next_2].thumb alt=all_posts[next_2].title)
                                    div= all_posts[next_2].title

                div(class="p-5 pt-0")
                    a(target="_new" rel='nofollow' href="https://timeweb.com/ru/?i=73933&a=237")
                        img(style="border:0px;" src="https://wm.timeweb.ru/images/posters/970x250/970x250.jpg")
                    //- a(target="_new" rel='nofollow' href="https://timeweb.com/ru/?i=73933&a=233")
                        //- img(style="border:0px;" src="https://wm.timeweb.ru/images/posters/970x250/970x250-1.jpg")
